<% provide(:title, "Home") %>
<div class="mainCont">
    <div class="headSec w3-center">
    </div>
    <br>
    <%=render 'layouts/popular'%>
    <%=render 'layouts/categories'%>
    <br>
    <p>This will be the home page of the web app we will create together</p>
</div>
