<% provide(:title, "Home") %>
<div class="mainCont">
    <div class="headSec w3-center">
    </div>
    <br>
    <div>    
    <%=render 'layouts/popular'%>
    </div>
    <%=render 'layouts/categories'%>
    <br>
</div>
