.w3-myfont {
  font-family: "Comic Sans MS", cursive, sans-serif;
}


.headSec {
    background: url("Site/bannerimg1.jpg");
    height:300px;
    background-color: #b3e0ff;
    width: 98%;
    border-style: solid;
    margin:15px;
    overflow: auto;
    text-align: center;
    background-position: center; 
}