
.w3-myfont {
  font-family: "Comic Sans MS", cursive, sans-serif;
}


.headSec {
    background: url("Site/bannerimg1.jpg");
    height:300px;
    background-color: #b3e0ff;
    width: 98%;
    border-style: solid;
    margin:15px;
    overflow: auto;
    text-align: center;
    background-position: center; 
}


.fiveOhButton {
  margin-bottom: 20px;
	box-shadow:inset 0px 1px 3px 0px #a1a1a1;
	background:linear-gradient(to bottom, #aab8b4 5%, #384545 100%);
	background-color:#aab8b4;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-weight:bold;
	padding:13px;
	text-decoration:none;
	text-shadow:0px -1px 0px #808a89;
}

.fiveOhButton:hover {
	background:linear-gradient(to bottom, #384545 5%, #aab8b4 100%);
	background-color:#384545;
}

.fiveOhButton:active {
	position:relative;
	top:1px;
}

        