<div class="footer">
      <h2>Footer</h2>
      <%= link_to 'New Product', new_product_path, :class =>"button2", :role=>"button"  %>
      <%= link_to 'New Category', new_category_path, :class =>"button2", :role=>"button"  %>
 </div>